langchain-community 
langchain 
langchain_huggingface 
python-dotenv 
pypdf 
langchain_openai 
sagemaker
boto3
ipywidgets==7.0.0 
langchain
faiss-cpu
unstructured
notebook
python-box
pyYAML
tqdm
ensure
joblib
Flask
types-pyYAML
Flask-Cors
python-dotenv