langchain-community 
langchain 
langchain_huggingface 
python-dotenv 
pypdf 
langchain_openai 
sagemaker
boto3
langchain
faiss-cpu
unstructured
notebook
python-box
pyYAML
tqdm
ensure
joblib
Flask
types-pyYAML
Flask-Cors
python-dotenv
requests_aws4auth 
opensearch-py
pymongo
langchain-mongodb